h1
{
    color: #192449;
    text-align: center;
    
}

p{
    color: #192449;
    text-align: center;
    font-size:100% ;
}

.panel-default{

    align-items:center;
    color: whitesmoke;
    background-color: #192449;
    
        
}



